body
{
   background-color: #86C4FB;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 
}

#bgimg
{
	position:absolute;
	left:50%;
	margin-left: -737px;
	z-index:0;
	
}

#Image4
{
	position:absolute;
	z-index:1;
	
}

#title
{
   position:absolute;
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   top: 40px;
   vertical-align: middle;
   left:50%;
   margin-left: -250px;
}


#Button1 {
	
   position: absolute;
   z-index:4;"
	
}

#Button2 {
	
   position:absolute;
   top:100px;
   z-index:4;
	
}


.clicker
{
   border: 2px #AF3B50 solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #AF3B50;
   font-family: Arial;
   font-weight: normal;
   width:200px;
   height:70px;
   font-size: 30px;
 
}
.clicker:hover {
	
	background-color: #AF3B50;
	border: 2px #AF3B50 solid;
	color: white;
	
}

.maptxt {
	
	position: absolute;
	top: 410px;
	color: #AF3B50;
	font-size: 19px;
}

#maptxt1 {
	
	position:absolute;
	left: -260px
	
}

#maptxt2 {
	
	position:absolute;
	left: -90px
	
}

#maptxt3 {
	
	position:absolute;
	left: 80px
	
}

#maptxt4 {
	
	position:absolute;
	left: 250px
	
}

#maptxt5 {
	
	position:absolute;
	left: 420px;
	width: 100px;
}

.map {
	
	height: 100px;
	width: 100px;
	position : absolute;
	top: 440px;
}

#map1 {
	
	position:absolute;
	left: -290px;
	
}

#map2 {
	
	position: absolute;
	left: -120px;
	
}

#map3 {
	
	position: absolute;
	left: 50px;
	
}

#map4 {
	
	position: absolute;
	left: 220px;
	
}

#map5 {
	
	position: absolute;
	left: 390px;
	
}

#window
{
	
	position:absolute;
	left: 50%;
	margin-left: -680px;
	width: 1200px;
	height: 400px;
	
}

#block1 {
	
	position:relative;
	vertical-align: middle;
	width:350px;
	height: 1000px;
	top: 140px;
	left: 50%;
	margin-left:-100px;
	
}
